/* Responsive styles
================================================== */

/* Large Devices, Wide Screens */

@media (min-width: 1200px) {}

/* Medium Devices, Desktops */

@media (min-width: 992px) and (max-width:1199px) {
   /* Header */
   ul.navbar-nav>li {
      padding-right: 8px;
   }
   ul.navbar-nav>li>a,
   .dropdown-menu li a {
      font-size: 14px;
   }
   #back-to-top.affix {
      bottom: 35px;
   }
   #back-to-top {
      right: 15px;
   }
   .hero-title h1 {
      font-size: 98px;
   }
}

/* Small Devices, Tablets */

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-title {
        font-size: 71px;
        top: -50px;

    }
}

/* Small Devices Potrait */

@media (max-width: 767px) {
    .header-logo img{
        max-width: 200px;
    }
    .header-title{
        font-size: 20px;
    }
    .banner-screen img{
        width: 100%;
    }
    .container-fluid{
        padding: 0 15px;
    }
    .hidden-title{
        font-size: 60px;
    }
    .xs-heading h3{
        font-size: 32px;
    }
}

